<br>
</div>
<br>
<div class="col-sm-9">
    <div class="well">
        <h4>Dashboard</h4>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <h4>Danh mục</h4>
                <p>
                    <%= data0.length %>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>Điện thoại</h4>
                <p>
                    <%= data1.length %>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>Máy tính</h4>
                <p>
                    <%= data2.length %>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <h4>Đơn hàng</h4>
                <p>
                    <%= data3.length %>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>