<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->

        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Giới thiệu
                    </h6>
                    <p>
                        Cửa hàng cung cấp tất cả các loại đồ điện tử giá rẻ và hiện đại
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Hướng Dẫn
                    </h6>

                    <p>
                        <a href="" class="text-reset">Câu hỏi thường gặp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách đổi trả</a>
                    </p>
                    <p>
                        <a href="" class="text-reset">Chính sách bảo hành</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liên Hệ
                    </h6>
                    <p>
                        Hotline chăm sóc khách hàng: 1900-6035
                    </p>
                    <p>
                        Hỗ trợ khách hàng: hotro@nghehungwatches.vn
                    </p>
                    <p>
                        Báo lỗi bảo mật: security@nghehungwatches.vn
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Địa chỉ</h6>
                    <p>Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
                    <p>

                        Đường Láng, Cầu Giấy, Hà Nội
                    </p>

                </div>
            </div>
        </div>
    </section>
</footer>
<!-- Footer -->